*{
    margin: 0;
    padding: 0;
    
}




.del-edit-div{
    background-color: rgb(216, 237, 216);
    display: flex;
    gap: 50px;
}

.title-author-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 50%;
}

.book-container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(233, 234, 235, 0.673);
    border: 1px rgba(128, 128, 128, 0.566) solid;
    border-radius: 10px;
    box-shadow:5px 5px 5px grey;
    padding: 20px;
}

.books-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* nav-bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c502c;
    height: 75px;
    color: wheat;
    padding: 5px;
}

.nav-bar > h3{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.div-home{
    display: flex;
    width: 50%;
    
}
.div-home > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.div-home > a:hover{
   font-size: 22px;
   text-decoration: underline;
}

/* main */
main{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
main > h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}


/* view-book-page */

.main-view-book{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book-view-container{
    background-color: rgb(225, 225, 225);
    height: 50%;
    display: flex;
}

/* footer */
footer{
    display: flex;
    background-color: #2c502c;
    height: 100px;
    margin-top: 10px;
    color: white;
    align-items: center;
}